<div class="image-area">
    <div class="img-wrapper">
        <img src="/assets/images/bellatrix.jpg">
        <h2>Bellatrix Lestrange</h2>
        <ul>
            <li>D</li>
            <li>E</li>
            <li>A</li>
            <li>D</li>
        </ul>
    </div>
</div>