<div class="witch-of-the-month">
    <div class="wotm-text">
        <h2>&#128293; AWARDS &#128293;</h2>
    </div>
    <div class="pas-inspi">
        <div class="witch-descript">
            <p>Bellatrix, was evil, probably Satan's daughter.<br>
                She was burnt in the public square <br> after being denounced by honest citizens <br>
                and captured by the Clergy.</p>
        </div>
        <div class="image-area">
            <div class="img-wrapper">
                <img src="/assets/images/bellatrix.jpg">
                <h2>Bellatrix Lestrange</h2>
                <ul>
                    <li>D</li>
                    <li>E</li>
                    <li>A</li>
                    <li>D</li>
                </ul>
            </div>
        </div>
    </div>
</div>