<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <strong>Balance ta Witch</strong>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto ml-3">
                <li class="nav-item">
                    <a class="nav-link pt-3" href="#">JUGER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pt-3" href="#">CHASSER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pt-3" href="#">TROPHÉS</a>
                </li>
            </ul>

            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="#" class="nav-link balance rounded">
                        <b>Je balance !</b>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>