<div class="steps">
    <div class="steps_bottom steps_first">
        <div class="steps_first_image">
            <a href="_steps.html.twig">
                <img class="steps_img" src="/assets/images/icon-step1.png"
                     alt="witch image"
                />
            </a>
        </div>
        <div class="steps_first_text">
            <h2>Step 1</h2>
            <h3>Start by denouncing a witch!</h3>
        </div>
    </div>
    <div class="bottom_to_top"></div>
    <div class="steps_top steps_second">
        <div class="steps_second_image">
            <a href="_steps.html.twig">
                <img class="steps_img" src="/assets/images/icon-step2.png"
                     alt="like image"
                />
            </a>
        </div>
        <div class="steps_second_text">
            <h2>
                Step 2
            </h2>
            <h3>
                Users will vote if they are for or against <br>your witch hunt.
            </h3>
        </div>
    </div>
    <div class="top_to_bottom"></div>
    <div class="steps_bottom steps_third">
        <div class="steps_third_image">
            <a href="_steps.html.twig">
                <img class="steps_img" src="/assets/images/icon-step3.png"
                 alt="hunt image"
                />
            </a>
        </div>
        <div class="steps_third_text">
            <h2>
                Step 3
            </h2>
            <h3>
                the clergy will take care of your hunt as soon as possible.
            </h3>
        </div>
    </div>
    <div class="bottom_to_top"></div>
    <div class="steps_top steps_fouth">
        <div class="steps_fourth_image">
            <a href="_steps.html.twig">
            <img class="steps_img" src="/assets/images/icon-step4.png"
                 alt="money image"
            />
            </a>
        </div>
        <div class="steps_fourth_text">
            <h2>
                Step 4
            </h2>
            <h3>
                You can collect the reward of the hunt.
            </h3>
        </div>
    </div>
    <div class="top_to_bottom"></div>
</div>

