<div class="steps">
    <div class="steps_bottom steps_first">
        <div class="steps_first_image">
                <img class="steps_img" src="/assets/images/icon-step1.png"
                     alt="witch image" width="10%"/>
        </div>
        <div class="steps_first_text">
            <h3>Step 1</h3>
            <h5>Start by denouncing a witch!</h5>
        </div>
    </div>
    <div class="bottom_to_top"></div>
    <div class="steps_top steps_second">
        <div class="steps_second_image">
                <img class="steps_img" src="/assets/images/icon-step2.png"
                     alt="like image"
                />
        </div>
        <div class="steps_second_text">
            <h3>
                Step 2
            </h3>
            <h5>
                Users will vote if they are for or against <br>your witch hunt.
            </h5>
        </div>
    </div>
    <div class="top_to_bottom"></div>
    <div class="steps_bottom steps_third">
        <div class="steps_third_image">
                <img class="steps_img" src="/assets/images/icon-step3.png"
                 alt="hunt image"
                />
        </div>
        <div class="steps_third_text">
            <h3>
                Step 3
            </h3>
            <h5>
                the clergy will take care of your hunt as soon as possible.
            </h5>
        </div>
    </div>
    <div class="bottom_to_top"></div>
    <div class="steps_top steps_fouth">
        <div class="steps_fourth_image">
            <img class="steps_img" src="/assets/images/icon-step4.png"
                 alt="money image"
            />
        </div>
        <div class="steps_fourth_text">
            <h3>
                Step 4
            </h3>
            <h5>
                You can collect the reward of the hunt.
            </h5>
        </div>
    </div>
    <div class="top_to_bottom"></div>
</div>

