<div class="modal-body">
    <form action="" method="POST" id="insert_form">

        <div class="container-form">
            <div class="row">
                <div class="col-md-12">
                    <label for="title" class="mt-5">Firstname</label><br>
                    <input class="w-100" type="text" value="" name="firstname" id="firstname" placeholder="Firstname" required>
                    <label for="artist" class="mt-5">Lastname</label><br>
                    <input class="w-100" type="text" value="" name="lastname" id="lastname" placeholder="Lastname" required>
                </div>
                <div class="attribut">
                    <h3>Attribute</h3>
                </div>
            </div>

            <button class="btn-grad mx-auto" type="submit" name="insert" id="insert" value="Insert">Balancer</button>
        </div>
    </form>
</div>