{% extends 'layout.html.twig' %}

{% block content %}

    <img class="homepage" src="/assets/images/witch.jpg" alt="sorcière" width="100%">
    <div class="quotation">
    <p class="quote">Everyone seems normal until you get to know them.</p>
        <img class="fond mx-0" src="/assets/images/fondblanc.svg" alt="fond" width="100%">
        <img class="info" src="/assets/images/info.svg" alt="infography" width="85%">
    </div>

    <div class="mep">

        <img class="fond-vert" src="/assets/images/fondorange.svg" alt="fond" width="100%">
        {% include '/Home/_monthWitch.html.twig' %}
    </div>

    <img class="fond" src="/assets/images/fondblanc.svg" alt="fond" width="100%">
    </div>


{% endblock %}

