<div class="rewards">
    <div class="reward-image">
        <img src="/assets/images/icon-step4.png"
             alt="reward image"
        />
    </div>
    <div class="rewards-text">
        <h2>Get your rewards!</h2>
    </div>
</div>